<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400|Montserrat:700' rel='stylesheet' type='text/css'>
    <style>
        @import url(//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css);
        @import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
    </style>
    <link rel="stylesheet" href="https://2-22-4-dot-lead-pages.appspot.com/static/lp918/min/default_thank_you.css">
    <script src="https://2-22-4-dot-lead-pages.appspot.com/static/lp918/min/jquery-1.9.1.min.js"></script>
    <script src="https://2-22-4-dot-lead-pages.appspot.com/static/lp918/min/html5shiv.js"></script>
</head>

<body>
<header class="site-header" id="header">
    <h1 class="site-header__title" data-lead-id="site-header-title">Cảm ơn bạn đã đăng ký!</h1>
</header>

<div class="main-content">
    <i class="fa fa-check main-content__checkmark" id="checkmark"></i>
    <div class="container">

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <p class="main-content__body" data-lead-id="main-content-body">
                    Xác nhận thông tin đặt sân thành công
                </p>
            </div>
        </div>
    </div>
    <div class="main-content__body" data-lead-id="main-content-body">
        <p>
            <strong>Tên khách hàng:</strong>  <label th:text="${booking.getUserId().getUsername()}"></label><br>
            <strong>Tên sân:</strong>  <label th:text="${booking.getPriceYardID().getYardId().getOwnPitch().getName()}"></label><br>
            <strong>Ngày:</strong>  <label th:text="${booking.getDateBooking()}"></label><br>
            <strong>Giờ:</strong>  <label th:text="${booking.getPriceYardID().getStartTime()}+'-'+${booking.getPriceYardID().getEndTime()}"></label><br>
            <strong>Vị trí sân</strong>  <label th:text="${booking.getPriceYardID().getYardId().getName()}"></label><br>
            <strong>Tổng tiền:</strong>  <label th:text="${booking.getPriceYardID().getPrice()}"></label><br>
        </p>
    </div>
</div>

<footer class="site-footer" id="footer">

    <h3><a th:href="|/loadPage|">Về trang chủ</a></h3>
</footer>
</body>

</html>