<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="shortcut icon" href="img/logo.jpg">
    <meta charset="UTF-8">
    <title>Thay đổi mật khẩu</title>
    <link href="css/login.css" rel="stylesheet">
</head>
<body>
<div class="parent clearfix">
    <div class="bg-illustration">
        <a href="index.html"><img src="img/logo.jpg" alt="logo"></a>

        <div class="burger-btn">
            <span></span>
            <span></span>
            <span></span>
        </div>

    </div>

    <div class="login">
        <div class="container">
            <h1 style="color: #ffc107">Thay đổi mật khẩu</h1>
            <br>
            <h2>Đã có tài khoản? <a th:href="@{/loadFormLogin}">Đăng nhập</a></h2>
            <div class="login-form">
                <form  th:action="@{/changePassword}"  method="post" onsubmit="return formValidation()">
                    <input id="otp" name="otp" type="text" placeholder="OTP">
                    <label hidden id="otpTrue" th:text="${otp}"></label>
                    <p style="color: red" th:text="${session.OTPchangePassword}" th:unless="${session == null}">[...]</p>
                    <input id="password" name="password" type="password" placeholder="Mật khẩu">
                    <input id="re-password" type="password" placeholder="Nhập lại mật khẩu">
                    <button type="submit">Đăng ký</button>

                </form>
            </div>

        </div>
    </div>
</div>
<script>
    function formValidation() {
        var username = document.getElementById('username').value,
            errors = [];
        if (username.length !=10) {
            errors.push("Sai định dạng số điện thoại");
        }


        var pass = document.getElementById('password').value,
            errors = [];
        if (pass.length < 8) {
            errors.push("Mật khẩu ít nhất 8 ký tự");
        }
        if (pass.search(/[a-z]/i) < 0) {
            errors.push("Mật khẩu chứa ít nhất 1 chữ cái thường");
        }
        if (pass.search(/[A-Z]/i) < 0) {
            errors.push("Mật khẩu chứa ít nhất 1 chữ cái in hoa");
        }
        if (pass.search(/[0-9]/) < 0) {
            errors.push("Mật khẩu chứ ít nhất 1 chữ số");
        }
        if (pass.search(/[.!@#$%^&*]/) < 0) {
            errors.push("Mật khẩu chứ ít nhất 1 ký tự đặc biệt");
        }
        if (errors.length > 0) {
            alert(errors.join("\n"));
            return false;
        }
        return true;
    }
</script>
</body>
</html>