<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Tạo tài khoản cho chủ sân bóng</title>
</head>
<body>
<form   th:action="@{/createAccountOwn}" th:object="${user}" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col">
            <label>SĐT chủ sân:</label><br>
            <input readonly name="username" type="text" th:value="${ownPitch.phone}"/><br>

            <label>Password</label><br>
            <input name="password" id="myText" type="text"/><br>
            <button type="button" onclick="myFunction()">Create password render</button>

            <script>
                function myFunction() {
                    document.getElementById("myText").value =  Math.floor(Math.random() * 1000000) + 1;
                }
            </script>
            <input hidden name="idOwn" type="text" th:value="${ownPitch.id}"/><br>
            <input hidden name="role" type="text" value="OWN" /><br>

        </div>
    </div>
    <br>
    <button type="submit" class="btn btn-primary col-2">Xác nhận tạo tài khoản và gửi mail cho chủ sân</button>
    <input type="hidden" name="idOwn" th:field="*{id}"/>
    <input  hidden name="status" value="true"><br>
</form>
</body>
</html>