<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Đăng nhập</title>
    <link href="../static/css/login.css" rel="stylesheet">
</head>
<body>
<div class="parent clearfix">
    <div class="bg-illustration">
        <a href="index.html"><img src="../static/img/logo.jpg" alt="logo"></a>

        <div class="burger-btn">
            <span></span>
            <span></span>
            <span></span>
        </div>

    </div>

    <div class="login">
        <div class="container">
            <h1 style="color: #ffc107">Đăng nhập</h1>
            <br>
                <h2>Chưa có tài khoản? <a href="register.html">Đăng ký</a></h2>
            <div class="login-form">
                <form action="">
                    <input type="text" placeholder="Tên đăng nhập">
                    <input type="password" placeholder="Mật khẩu">

                   <!-- <div class="remember-form">
                        <input type="checkbox">
                        <span>Remember me</span>
                    </div>-->
                    <div class="forget-pass">
                        <a href="#">Quên mật khẩu ?</a>
                    </div>

                    <button type="submit">Đăng nhập</button>

                </form>
            </div>

        </div>
    </div>
</div>
</body>
</html>