<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Đăng nhập</title>
    <link href="css/login.css" rel="stylesheet">
    <link rel="shortcut icon" href="img/logo.jpg">
</head>
<body>
<div class="parent clearfix">
    <div class="bg-illustration">
        <a href="index.html"><img src="img/logo.jpg" alt="logo"></a>

        <div class="burger-btn">
            <span></span>
            <span></span>
            <span></span>
        </div>

    </div>

    <div class="login">
        <div class="container">
            <h1 style="color: #ffc107">Đăng nhập</h1>
            <br>
            <h2>Chưa có tài khoản? <a href="register.html">Đăng ký</a></h2>
            <div class="login-form">
                <form th:action="@{/login}" method="POST">
                    <input name="username" id="username" type="text" placeholder="Tên đăng nhập">
                    <input name="password" id="password" type="password" placeholder="Mật khẩu">

                    <!-- <div class="remember-form">
                         <input type="checkbox">
                         <span>Remember me</span>
                     </div>-->
                    <div class="forget-pass">
                        <a href="#">Quên mật khẩu ?</a>
                    </div>

                    <button type="submit">Đăng nhập</button>

                </form>
            </div>

        </div>
    </div>
</div>
</body>
</html>